@use "../../presets" as *;
@use "../../common/classes" as *;
.section {
  padding-top: 112px;
  padding-bottom: 91px;
  background-color: $color-light;
  
  &__title {
    @include title;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 39px;
  }
  &__description {
    @include description;
    text-align: center;
  }
  &__description--padding {
      padding-top: 101px;
      padding-bottom: 52px;
      background-color: $color-gray-light;
    }
  }




