.experience {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 100px 0 88px;
}

.experience__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--gap);
}
.experience-item {
  display: flex;
  gap: var(--gap);
}
.experience-item__description {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}
.experience-item__number {
  font-size: 1.3125rem; /* 21px */
  font-weight: 500;
}
.experience-item__text {
  line-height: var(--line-height-lg);
}
.experience-item__image {
  order: -1;
}