.section {
  padding-top: 112px;
  padding-bottom: 91px;
  background-color: var(--color-light);
}

.section__title {
  color: var(--color-black);
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 39px;
}
.section__description {
  color: var(--color-secondary);
  text-align: center;
  line-height: var(--line-height-lg);
}
.section__description--padding {
  padding-top: 101px;
  padding-bottom: 52px;
  background-color: var(--color-gray-light);
}